body {
	width: 257px;
	/*height: 200px;*/
	overflow-x: hidden;
	background-color: white;
}
.loading-image {
	width: 80px;
}
.top-logo {
	width: 200px;
}
.grey-text {
	color: rgba(85,80,78,1) !important;
}
.logo-block {
	margin-top: 10px;
	margin-bottom: 10px;
}
.content-block{
	display: none;
}